
.input{
    font-size:0.9vw;
    margin:20px 0vh;
    position: relative;
    width: 100%;
}
.input span{
    left:2%;
    top:0;
    transition: 0.2s all;
    position: absolute;
    font-size:17px;
    /* font-weight: 100; */
}

.input input{
    width:100%;
    padding:5px;
    border:none;
    background-color:rgba(0,0,0,0.1);
    /* border:1px solid var(--theme-color); */

    border-radius:3px;
}

.input:focus-within > input {
    background-color:var(--theme-background);
    border:2px solid var(--primary-color);
}
.input:focus-within > .input-placeholder{
    top:-17px;
    background-color:var(--theme-background);
}
.input input:focus{
    outline:none;
}

.input input:valid{
    background-color:var(--theme-background);
    border:2px solid var(--primary-color);
    padding:25px 0px 0px 20px;
    font-size:17px;
}


.btn-send{
    border:none;
    /* background-color:var(--primary-color); */
    border-radius:15px;
    background-color:var(--primary-color);
    border:1px solid var(--primary-color);
    color:var(--primary-font);
    padding:5px 18px;
    font-size:20px;
    cursor:pointer;
    width:20vh;
    /* min-width: 50vh; */
    margin-left:60%;
    transition: 0.2s all;
}

.btn-send:hover{
    box-shadow: 2px 2px 10px var(--primary-color);
    /* color:var(--primary-color); */
    color:white;
    background-color:var(--primary-color);
    border:2px solid var(--primary-color);

}
.btn-send:focus{
    outline:none;
}
.btn-send:active{
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  /* background-color:var(--theme-background) !important; */
  /* -webkit-text-fill-color: black; */
  -webkit-box-shadow: 0 0 0px 1000px var(--theme-background) inset;
  transition: background-color 5000s ease-in-out 0s; 
}